:root {
  --primary-color: #0a0a0a;
  --secondary-color: #817c7c;
  --background-color: #ffffff;
  --accent-color: #1fff06;
  --font-white: #ffffff;
  --font-black: #4a4343;
}


header h1 {
  position: relative;
  top: 20dvh;
  padding: 2rem;
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
}

header span {
  color: var(--accent-color);
}

.main-contact {
  height: auto;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-content:center;
  position: relative;
  top: 12rem;
  padding: 2rem;
}

.contact-info {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  padding-top:1rem;
}

.contact-form {
  flex-basis: 60%;
  padding: 0.5rem;
}

h2,
h3,
h4 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact-info-content {
  font-weight: lighter;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  font-size: 2rem;
}

.input-form span {
  margin-right: 2rem;
  color: var(--secondary-color);
}

form input,
textarea {
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  border: none;
  font-size: 1rem;
  background: none;
  caret-color: var(--accent-color);
  border-bottom: 1px solid var(--secondary-color);
  color: var(--font-color);
}

textarea,
input:focus {
  outline: none;
}

input:focus-within label {
  color: var(--secondary-color);
}
