:root {
  --primary-color: #1c1717;
  --secondary-color: #817c7c;
  --background-color: #ffffff;
  --accent-color: #1fff06;
  --font-white: #ffffff;
  --font-grey: #4a4343;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--primary-color);
  background: var(--background-color);
  background-size: center center;
  background-attachment: fixed;
  overflow-x: clip ;
}

.main-index {
  padding: 5rem;
}

/* ----------------------------------------------Header-Section------------------------------------------*/
.header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
        to right,
        rgba(145, 184, 158, 0.9),
        rgba(69, 90, 70, 0.9)
      )
      center center,
    url(./images/Tile-Pattern--Arvin.svg);
  background-position: center center;
  
}

.navcontainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 1rem;
  z-index: 100;
  padding: 2rem;
  width: 80vw;
  transition: all 0.3s ease-out;
}

#nav-menu.scrolled {
  border-radius: 2rem;
  padding: 1rem;
  transition: all 0.3s ease-in;
  background: var(--primary-color);
  color: var(--font-white);
}

#nav-menu:hover {
  border-radius: 2rem;
  padding: 1rem;
  background: var(--primary-color);
  color: var(--font-white);
  transition: all 0.4s ease-in;
}

.logo span {
  color: var(--accent-color);
}
.logo {
  font-size: 2.5rem;
  margin-left: 1rem;
}

nav ul li {
  display: inline-block;
  margin: 0.6rem 1.2rem;
  list-style: none;
}

nav ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: -6px;
  position: absolute;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a.active-nav::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 2rem;
  text-align-last: center;
  padding: 3rem;
}
.header-text h1 {
  margin-top: 1.2rem;
}

.header-text h1 span {
  color: var(--accent-color);
}
.header-text p span {
  color: var(--accent-color);
  text-decoration: underline;
}

/* ----------------------------------------------About-page------------------------------------------*/

#about {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

#about .headshot {
  flex-basis: 35%;
}

#about .headshot img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#about .about-text {
  flex-basis: 60%;
}
#about .about-text h2 {
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

#about .about-text p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--font-grey);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 1rem;
  gap: 3rem;
}
.about-text .skills-list li {
  margin: 10px 0;
  font-size: 1rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: var(--font-color);
}

.about-text .skills-list li::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--accent-color);
  left: 0;
  bottom: -6px;
  position: absolute;
  transition: 0.4s;
}
.about-text .skills-list li:hover::after {
  width: 100%;
}

.about-text .skills-list .active-skill::after {
  content: "";
  width: 50%;
}

.skills-content ul li {
  list-style: none;
  margin: 0;
  font-size: 1.2rem;
}

.skills-content {
  line-height: 2rem;
  display: none;
  color: var(--secondary-color);
}

.skills-content.active-content {
  display: block;
}

.skills-content span {
  color: var(--accent-color);
}

@media screen and (max-width: 700px) {
}
